* {
    margin: 0;
    padding: 0;
}  
.container {
    margin-left: 30px;
    width: 1400px;
    height: 50px;
}
@media(min-width: 1200px) {
    .container {
        max-width: 1400px;
    }
}
.nav-scroller {
    width: 1250px;
    margin: auto;
    background-color: rgb(199, 241, 253);
}

