* {
    margin: 0;
    padding: 0;
}  
.container {
    margin-left: 0px;
    height: 40px;
}
@media(min-width: 1200px) {
    .container {
        max-width: 1400px;
    }
}
.nav-scroller {
    max-width: 1330px;
    margin: auto;
    background-color: rgb(229, 235, 236);
}
